# LetsEncrypt-DNS tasks - facts.yml
---
- name: create facts.d directory
  file:
    path: /etc/ansible/facts.d
    state: directory

- name: apply letsencrypt_dns.fact template
  template:
    src: letsencrypt_dns.fact.j2
    dest: "/etc/ansible/facts.d/letsencrypt_dns.fact"
    mode: 0755
  register: update_letsencrypt_dns_facts

- name: check local facts
  setup:
    fact_path: /etc/ansible/facts.d
    filter: ansible_local*
  when: update_letsencrypt_dns_facts.changed
